.Current {
    background: linear-gradient(
        rgb(79, 122, 216) 0, 
        rgb(41, 63, 113) 5%, 
        rgb(41, 63, 113) 95%, 
        rgb(79, 122, 216) 100%
    );
    border-right: 5% solid rgb(79, 122, 216);
    margin-right: 64px;
    height: 400px;
    color: white;
}

.CurrentWeather {
    display: flex;

}

.leftDiv {
    width: 50%;
    font-size: 24px;
}
.temp {
    font-size: 42px;
}

.rightDiv {
    width: 50%;
    font-size: 24px;
}