.Current {
    background: linear-gradient(
        rgb(79, 122, 216) 0, 
        rgb(41, 63, 113) 5%, 
        rgb(41, 63, 113) 95%, 
        rgb(79, 122, 216) 100%
    );
    border-right: 5% solid rgb(79, 122, 216);
    margin-right: 64px;
    height: 400px;
    color: white;
}

.CurrentWeather {
    display: flex;
    text-shadow: 2px 3px 2px black 
}

.leftDiv {
    width: 50%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temp {
    font-size: 42px;
}

.rightDiv {
    width: 50%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.city {
    color: yellow;
    font-size: 30px;
    margin: 0;
    height: 30px;
}
.rightDiv div {
    margin-left: 18px;
    margin-top: 10px;

}
.rightDiv p {
    margin: 8px;
}