.ThreeDayWeather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-bottom: 110px;
}

.WeatherCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 425px;
    border: 3px solid white;
    margin-right: 18px;
    box-shadow: 0 0 10px black;
    background: linear-gradient(
        rgb(181, 181, 255),
        rgb(185, 185, 255) 62.5px,
        rgb(158, 158, 255) 62.5px,
        rgb(156, 156, 255) 125px,
        rgb(132, 132, 255) 125px,
        rgb(132, 132, 255) 187.5px,
        rgb(105, 105, 255) 187.5px,
        rgb(117, 117, 255) 250px,
        rgb(94, 94, 252) 250px,
        rgb(87, 87, 255) 312.5px,
        rgb(73, 73, 255) 312.5px,
        rgb(68, 68, 255) 375px,
        rgb(56, 56, 255) 375px,
        rgb(55, 55, 255) 437.5px,
        rgb(33, 33, 255) 437.5px,
        rgb(0, 0, 255) 500px
    );
    position: relative;
}
.WeatherCard::before {
    position: absolute;
    content: '';
    width: 98%;
    height: 99%;
    border: 3px solid black;
    top: -1px;
}
.WeatherCard::after {
    position: absolute;
    content: '';
    width: 101.5%;
    height: 101%;
    border: 3px solid black;
    top: -5px;
}

.Day {
    font-size: 42px;
    color: yellow;
    text-shadow: 3px 4px 1.5px black;
    margin: 0;
    text-transform: uppercase;
    transform: scale(.9, 1.1);
}
.WeatherCard p:last-of-type {
    color: white;
    font-size: 34px;
    text-shadow: 2px 3px 2px black;
    text-align: center;
    margin-top: 0;
}
.LoHiDiv {
    color: white;
    text-shadow: 2px 3px 2px black;
    width: 100%;
    font-size: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.LoHiDiv div:first-of-type {
    display: inline-flex;
    flex-direction: column;
}
.LoHiDiv div span:first-of-type {
    transform: scale(.95, 1.1);
}
.LoHiDiv div span:last-of-type {
    margin-top: 3px;
    margin-bottom: 12px;
    transform: scale(1.2, 1.8);
}
.LoHiDiv div:last-of-type span:first-of-type {
    color: yellow;
}
.LoHiDiv div:last-of-type {
    display: inline-flex;
    flex-direction: column;
}


/* Icon images from weather_spritesheet */

/* Flurries */
#num1 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') 0px 0px;
}
/* Light Rain */
#num2 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -138px -4px;
}
/* Sleet */
#num3 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -276px -4px;
}
/* Snowing */
#num4 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -414px -5px;
}
/* Ice */
#num15 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -558px -5px;
}
/* Thunder */
#num5 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') 0px -139px;
}
/* Sunny */
#num6 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -138px -139px;
}
/* Cloudy */
#num7 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -276px -150px;
}
/* Rain and Snow */
#num8 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -414px -139px;
}
/* Windy */
#num9 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') 0px -290px;
}
/* Moderately Cloudy */
#num10 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -278px -290px;
}
/* Lightly Cloudy */
#num11 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -414px -290px;
}
/* Thunderstorms */
#num12 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -558px -277px;
}
/* Heavy Rain */
#num13 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -279px -415px;
}
/* Freezing Rain */
#num14 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -418px -419px;
}
/* Not Found */
#num16 {
    height: 128px;
    width: 128px;
    background: url('/src/Images/_spritesheet_128.png') -556px -432px;
}



@media only screen and (max-width: 623px) {
    .ThreeDayWeather {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 10px;
        padding-bottom: 110px;
    }
    .WeatherCard {
        margin-right: 0;
    }
}