.NavBar {
    background-color: rgb(51, 103, 192);
    width: 180px;
    height: 100%;
    /* position: relative; */
    position: fixed;
    border-right: 3px solid lightblue;
}

.NavBar nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 24px;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px 0;
}
